<template>
	<div id="app">
		<navbar></navbar>
    	<sidebar></sidebar>
	    
		<router-view></router-view>
		<footer class="main-footer">
	      <!-- Default to the left -->
	      <strong>Copyright &copy; 2018 <a href="#">Ashish</a>.</strong> All rights reserved.
	    </footer>
	</div>
</template>

<script>

import Navbar from './components/Navbar.vue'
import Sidebar from './components/Sidebar.vue' 

	export default {
		name: 'app',
		components: {
			'navbar': Navbar,
			'sidebar': Sidebar
		}
	}
</script>

<style type="text/css">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /*margin-top: 60px;*/
}

body {
  background: #ededed; 
}
</style>