<template>
	<div class="content-wrapper">
		<section class="content-header">
      <h1>
        {{title}}
      </h1>
	  </section>
    <vue-snotify></vue-snotify>
	</div>
</template>

<script type="text/javascript">
  export default {
    name: 'Dashboard',
    mounted(){
      this.axios.defaults.baseURL = document.head.querySelector('meta[name="admin-base-url"]').content;
      console.log(this.axios.defaults.baseURL);
    },
    data: function() {
    	return  {
    		title: "Dashboard"
    	}
    }
  }
</script>