<template>
  <header class="main-header">
    <!-- Logo -->
    
      <!-- <router-link :to="{ path: '/'}" class="logo-lg" >Reel-Reel</router-link> -->
      <!-- mini logo for sidebar mini 50x50 pixels -->
    <router-link :to="{ path: '/'}" class="logo">
      <span class="logo-mini"><b>T</b></span>
      
      <span class="logo-lg"><b>Test</b></span>
    </router-link>
    
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">   
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script type="text/javascript">
  export default {
    name: 'Navbar',
    props: ['title'],
  }
</script>
<style type="text/css">
  .navbar-nav > .user-menu > .dropdown-menu {
    width: 150px !important;
  }
</style>