<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <router-link :to="{ path: '/users'}">
            <i class="fa fa-users"></i>
            <span>Users</span>
          </router-link>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>
<style type="text/css">
  .skin-red .main-header .logo{
    margin-bottom: 0px;
  }

  .router-link-exact-active{
    color: #fff !important;
  }
</style>
<script type="text/javascript">
  export default {
    name: 'Sidebar',
  }
</script>