<template>
  <div class="content-wrapper">
    <section class="content-header">
      
    </section>
    <section class="content">
      <div class="box box-danger card">
        <div class="box-header with-border">
          <h3>
            Users
          </h3>
        </div>
        <vue-toastr ref="toastr"></vue-toastr>
        <div id="app">
          <div id="jsGrid"></div>
        </div>
      </div>
    </section>
  </div>
</template>

<script type="text/javascript">
  export default {
    name: 'UserList',
    data: function() {
      return {
        users: {},
        baseUrl: '',
        dataTable: null,
      }
    },
    mounted: function() {
      this.getUsers();
      this.baseUrl = document.head.querySelector('meta[name="admin-base-url"]').content;
    },    
    methods: {
      initGrid: function(instance){
        var self = this;
        $('#jsGrid').jsGrid({
          filtering: true,
          width: "100%",
          height: "400px",
          editing: true,
          sorting: true,
          paging: true,
          rownumbers: true,
          pageSize: 7,
          confirmDeleting: true,
          deleteConfirm: "Are you sure?",
          data: instance.users,
          controller: {
            rowClick: function() {
              alert("row clicked");
            },
            loadData: function (filter) {
                return $.grep(instance.users, function(user) {
                  var nameIndex, mailIndex, mobileIndex;
                  if(user.name != null){
                    nameIndex = user.name.indexOf(filter.name);
                  }
                  else{
                    nameIndex = -1;
                  }

                  if(user.email != null){
                    mailIndex = user.email.indexOf(filter.email);
                  }
                  else{
                    mailIndex = -1;
                  }

                  if(user.mobile != null){
                    mobileIndex = user.mobile.indexOf(filter.mobile);
                  }
                  else{
                    mobileIndex = -1;
                  }
                  return (!filter.name || nameIndex > -1)
                  && (!filter.email || mailIndex > -1)
                  && (!filter.mobile || mobileIndex > -1)
                  && (!filter.dob || user.dob.indexOf(filter.dob) > -1);
              });
            },updateItem: function(item){
              console.log(item);
              self.loading = true;
              instance.axios.put('/users/' + item.id, {
                id: item.id,
                name: item.name,
                mobile: item.mobile,
                email: item.email,
                status: item.status,
                dob: item.dob,
                type: instance.$route.query.type
              })
              .then(function(response){
                self.loading = false;
                console.log(response);  
              })
              .catch(function(error){
                self.loading = false;
                console.log(error);
              })
            },
            deleteItem: function(item){
              self.loading = false;
              instance.axios.post('/users/' + item.id + '/delete')
              .then(function(response){
                self.loading = false;
                console.log(response);  
              })
              .catch(function(error){
                self.loading = false;
                console.log(error);
              })
            }
          },
          fields: [
              { title: "Name", name: 'name', type: "text", width: 100 },
              { title: "Birth Date", name: 'dob', type: "date", width: 100 },
              { title: "Mobile", name: 'mobile', type: "text", width: 100 },
              { title: "Email", name: 'email', type: "text", width: 150 },
              { title: "Status", name: 'status', type: "checkbox" },
              { name: "View", title: "View", align: "center",
                itemTemplate: function(value, item) {
                  return $("<button>").text("Click")
                      .on("click", function() {
                        instance.$router.push('/users/'+item.id);
                        return false;
                      });
                }
              },
              { type: "control"}
          ],
        });  

        $("#jsGrid").jsGrid("option", "filtering", false); 
      },
      getUsers: function(){
        var self = this;
        this.axios.get('/users/')
        .then(function(response){
          self.users = response.data.data;
          self.initGrid(self);
          console.log(response.data);
        })
        .catch(function(error){
          console.log(error);
        });
      }
    }
  }
</script>