<template>
	<div class="content-wrapper" >
		<vue-toastr ref="toastr"></vue-toastr>
		<div class="content-header">
			<h1>User Details</h1>
		</div>
		<section class="content">
			<div class="box box-danger card" style="width:400px">
			  <img class="img-responsive center-block card-image-top" :src="user.avatar">
			  <div class="card-body text-center">
			    <h2 class="card-title">{{user.name}}</h2>
			    <p class="card-text">{{user.email}}</p>
			    <p class="card-text">{{user.mobile}}</p>
			    <p class="card-text">{{user.dob}}</p>
			    <a :href="user.fb_url" target="_blank">{{user.fb_url}}</a>
			  </div>
			</div>
			<button @click="cancelForm($event)" type="button" class="btn btn-primary">Back</button>
		</section>
	</div>
</template>

<script type="text/javascript">

export default {
  name: 'ViewUser',
  data () {
    return {
    	user:[],
    }
  },
  mounted: function(){
  	this.getUser();
  },
  methods: {
  	getUser: function(){
  		var self = this;
  		this.axios.get('/users/'+self.$route.params.id)
  			.then(function(response){
  				self.user = response.data.data;
  				console.log(self.user);
  			})
  			.catch(function(error){
				console.log(error.response);
			});
  	},
    cancelForm: function(event){
		this.$router.push('/');
	}
  }
}
</script>

